{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'ani/anilogo.png' %}">
    <title>Ani Skins - EN</title>

    <script defer src="{% static 'script.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body class="fundo">

    <div class="spinner-wrapper">
      {% if numero == 50 %}
        <img src="{% static 'ani/ani.gif' %}">
      {% else %}
      <img class="spinner-border" src="{% static 'img/sonar.png' %}" style="height: 150px; width: 150px;">
      {% endif %}
        </div>
    </div>

    <section class="p-4" style="display: flex; justify-content: center; align-items: center;">
      <div class="fundo2" style="max-width: 90%; border-radius: 15px;border-style: solid; border-width: 5px; border-color: black;">
        <div>
          <img class="p-2" src="{% static 'minecraft_title.png' %}" style="width: 80%;">
        </div>
        <div class="text-center">
          <h3 class="text-primary m-1">Howdy! My name is xChrisRVx</h3>
          <h4 class="text-light m-1">And Welcome to my website! The Ani Skins for Creatures Of Sonaria!</h4>
          <h4 class="text-light m-1"><img style="width: 10%;" src="{% static 'ani/gifani.webp' %}">I really like Ani, literally, I'm an Ani fanatic (My friends call me The Ani Maniac) <img style="width: 10%;" src="{% static 'ani/gifani.webp' %}"></h4>
          <h4 class="text-light m-1">Here you can see the skins I've already made for Ani, and if you're interested, you can even buy one!</h4>
        </div>

        <div class="container" style="max-width: 100%; width: auto;">
          <div class="row">

            <div class="text-center col" style="width: 20%;">
              <img src="{% static 'skins/anirenamon.gif'%}" style="border-radius: 15px; height: auto; max-height: 180px; max-width: 100%;">
              <h4 class="text-center" style="font-size: 3vw;">Renamon</h4>
            </div>

            <div class="text-center col" style="width: 20%;">
              <img src="{% static 'skins/animiku.gif'%}" style="border-radius: 15px; height: auto; max-height: 180px; max-width: 100%;">
              <h4 class="text-center" style="font-size: 3vw;">Hatsune Miku</h4>
            </div>

            <div class="text-center col" style="width: 20%;">
              <img src="{% static 'skins/anijinx.gif'%}" style="border-radius: 15px; height: auto; max-height: 180px; max-width: 100%;">
              <h4 class="text-center" style="font-size: 3vw;">Jinx Arcane</h4>
            </div>

            <div class="text-center col" style="width: 20%;">
              <img src="{% static 'skins/aninaruto.gif'%}" style="border-radius: 15px; height: auto; max-height: 180px; max-width: 100%;">
              <h4 class="text-center" style="font-size: 3vw;">Naruto (Classic)</h4>
            </div>

            <div class="text-center col" style="width: 20%">
              <img src="{% static 'skins/anisailor.gif'%}" style="border-radius: 15px; height: auto; max-height: 180px; max-width: 100%;">
              <h4 class="text-center" style="font-size: 3vw;">Sailor Moon</h4>
            </div>
            
          </div>

        <div class="container" style="max-width: 100%; width: auto;">
          <div class="row">

            <div class="text-center col" style="width: 20%;">
              <img src="{% static 'skins/anicindarece.gif'%}" style="border-radius: 15px; height: auto; max-height: 180px; max-width: 100%;">
              <h4 class="text-center" style="font-size: 3vw;">Cindarece</h4>
            </div>

            <div class="text-center col" style="width: 20%;">
              <img src="{% static 'skins/anilopunny.gif'%}" style="border-radius: 15px; height: auto; max-height: 180px; max-width: 100%;">
              <h4 class="text-center" style="font-size: 3vw;">Lopunny</h4>
            </div>

            <div class="text-center col" style="width: 20%;">
              <img src="{% static 'skins/anilucario.gif'%}" style="border-radius: 15px; height: auto; max-height: 180px; max-width: 100%;">
              <h4 class="text-center" style="font-size: 3vw;">Lucario</h4>
            </div>

            <div class="text-center col" style="width: 20%;">
              <img src="{% static 'skins/animeowscarada.gif'%}" style="border-radius: 15px; height: auto; max-height: 180px; max-width: 100%;">
              <h4 class="text-center" style="font-size: 3vw;">Meows carada</h4>
            </div>
            
          </div>

        <div class="container" style="max-width: 100%; width: auto;">
          <div class="row">

            <div class="text-center col" style="width: 20%;">
              <img src="{% static 'skins/aniralsei.gif'%}" style="border-radius: 15px; height: auto; max-height: 180px; max-width: 100%;">
              <h4 class="text-center" style="font-size: 3vw;">Ralsei</h4>
            </div>

            <div class="text-center col" style="width: 20%;">
              <img src="{% static 'skins/anitoriel.gif'%}" style="border-radius: 15px; height: auto; max-height: 180px; max-width: 100%;">
              <h4 class="text-center" style="font-size: 3vw;">Toriel</h4>
            </div>

            <div class="text-center col" style="width: 20%;">
              <img src="{% static 'skins/aniacademia.gif'%}" style="border-radius: 15px; height: auto; max-height: 180px; max-width: 100%;">
              <h4 class="text-center" style="font-size: 3vw;">Academy</h4>
            </div>

            <div class="text-center col" style="width: 20%;">
              <img src="{% static 'skins/anipalmeirense.gif'%}" style="border-radius: 15px; height: auto; max-height: 180px; max-width: 100%;">
              <h4 class="text-center" style="font-size: 3vw;">Palmeirense</h4>
            </div>
          </div>
        </div> 
      </div>

      <div class="text-center">
        <img src="{% static 'price.png' %}" style="width: 50%;">
        <h1 class="text-info">(Fixed for all skins)</h1>
        <h2 class="text-primary">Full Grown: 1k </h2>
        <h2 class="text-primary">Full Elder: 1k500</h2>
        <h2 class="text-primary">Full Elder Phase II: 2k</h2>
        <h3 class="text-danger">I don't do Full Sage or above!</h3>
      </div>

      <div class="text-center">
        <h2 class="text-info">Any questions or interest in purchasing, you can send me a DM on discord!</h2>
        <img src="{% static 'discord.png' %}">
      </div>
      <br>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>