{% load static %}

<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="{% static 'ani/anilogo.png' %}">
    <title>Ani Skins</title>

    <script defer src="{% static 'script.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>
  <body class="bg-black">

    <h1 class="text-primary text-center">Select Your Language:</h1>
    <section class="d-flex justify-content-center ms-3">
      
        <div class="p-3 ms-3">
            <a href="{% url 'brazil' %}" target="_self">
                <img src="{% static 'img/brazil.png' %}" style="height: 120px; width: 200px;" >
            </a>
        </div>

        <div class="p-3">
            <a href="{% url 'ingles' %}" target="_self">
                <img src="{% static 'img/united.png' %}" style="height: 120px; width: 200px;">
            </a>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>